{\rtf1\ansi\ansicpg1252\cocoartf2639
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 * \{\
  margin:0;\
  padding:0;\
\}\
\
html \{\
  box-sizing: border-box;\
  scroll-behavior: smooth;\
\}\
\
body \{\
    font-family: 'Poppins', sans-serif;\
    font-size: 18px;\
    font-weight: 400;\
    line-height: 1.4;\
    color: #303841;\
\}\
\
h1,\
h2 \{\
  font-family: 'Raleway', sans-serif;\
  font-weight: 700;\
  text-align: center;\
\}\
\
h1 \{\
  font-size: 6rem;\
\}\
\
h2 \{\
  font-size: 4.2rem;\
\}\
\
ul \{\
  list-style: none;\
\}\
\
a \{\
  text-decoration: none;\
\}\
\
img \{\
  display: block;\
  width: 100%;\
\}\
\
a:link \{\
  color: black;\
  text-decoration: none;\
\}\
\
a:visited\{\
  color:black;\
\}\
\
/* Navigation */\
.nav-list\{\
  display:flex;\
  margin-right:1em;\
\}\
\
@media (max-width: 300px) \{\
  .nav \{\
    justify-content: center;\
  \}\
\
  .nav-list \{\
    margin: 0 1rem;\
  \}\
\}\
\
ul\{\
  list-style:none;\
\}\
\
li \{\
  display: list-item;\
\}\
\
nav \{\
  display: flex;\
  justify-content: flex-end;\
  position: fixed;\
  top: 0;\
  left: 0;\
  width: 100%;\
  background: #454545;;\
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);\
  z-index: 10;\
\}\
\
.nav-list a\{\
  color:white;\
  padding:1rem;\
  display:block;\
\}\
\
/* unvisited link */\
.nav-list a:link \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* visited link */\
.nav-list a:visited \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* selected link */\
.nav-list a:active \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* hover link */\
.nav-list a:hover\{\
  transition: all 1s ease;\
  background:black;\
  text-decoration: none;\
\}\
/* Navigation */\
\
/* Welcome Section */\
\
#welcome-section \{\
  display:flex;\
  flex-direction:column;\
  justify-content:center;\
  align-items:center;\
  width:100%;\
  height:100vh;\
  background-image: url("https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");\
  background-repeat:no-repeat;\
  background-size:auto;\
  background-position:center center;\
\}\
\
.welcome-section-header\{\
  font-size:90px;\
\}\
\
#welcome-section p \{\
  font-size:30px;\
  font-family: 'Sofia';\
\}\
\
/* Projects Section */\
\
#projects \{\
  text-align: center;\
  padding: 10rem 2rem;\
  background: #303841;\
\}\
\
.projects-section-header \{\
  max-width: 350px;\
  margin: 0 auto 6rem auto;\
  color:white;\
  font-size:40px;\
  font-family:'Quicksand';\
  border-bottom: 0.2rem solid white;\
\}\
\
.project-tile \{\
  display: grid;\
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));\
  grid-gap: 4rem;\
  width: 100%;\
  max-width: 600px;\
  margin: 0 auto;\
  margin-bottom: 6rem;\
\}\
\
/* unvisited link */\
.project-tile a:link \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* visited link */\
.project-tile a:visited \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* selected link */\
.project-tile a:active \{\
  color: white;\
  text-decoration: none;\
\}\
\
/* hover link */\
.project-tile a:hover\{\
  transform: scale(1.1);\
  transition: all 0.5s ease;\
  text-decoration: none;\
\}\
\
.project \{\
  background: #A9A9A8;\
  border-radius: 5px;\
\}\
\
.project-tile p \{\
  font-size: 2rem;\
  padding: 2rem 0.5rem;\
  color:black;\
  font-family:'Quicksand';\
\}\
\
.project img \{\
  width: 100%;\
  object-fit: cover;\
  padding-bottom:-20px;\
\}\
\
/* unvisited link */\
.btn a:link \{\
  color: black;\
  text-decoration: none;\
\}\
\
/* visited link */\
.btn a:visited \{\
  color: black;\
  text-decoration: none;\
\}\
\
/* selected link */\
.btn a:active \{\
  color: black;\
  text-decoration: none;\
\}\
\
/* hover link */\
.btn a:hover \{\
  text-decoration: none;\
  transition:black 0.3s easeout;\
\}\
\
.btn\{\
  width:100%;\
  max-width:100px;\
  border-radius:5%;\
  margin:auto;\
  border: 3px solid g#A9A9A8;\
  background-color:#A9A9A8;\
\}\
\
/* Contact Section */\
\
.contact-section \{\
  display: flex;\
  flex-direction: column;\
  justify-content: center;\
  align-items: center;\
  text-align: center;\
  width: 100%;\
  height: 80vh;\
  padding: 0 2rem;\
  background: #A9A9A8;\
\}\
\
.contact-section-header > h2 \{\
  font-size: 6rem;\
  text-shadow: 2px 2px 2px #1f1f1f;\
\}\
\
@media (max-width: 28.75em) \{\
  .contact-section-header > h2 \{\
    font-size: 4rem;\
  \}\
\}\
\
.contact-section-header > p \{\
  font-style: italic;\
\}\
\
.contact-links \{\
  display: flex;\
  flex-wrap: wrap;\
  justify-content: center;\
  width: 100%;\
  max-width: 980px;\
  margin-top: 4rem;\
  text-shadow: 1px 1px 2px #1f1f1f;\
\}\
\
.contact-details \{\
  font-size: 2.4rem;\
  transition: transform 0.3s ease-out;\
\}\
\
.contact-details:hover \{\
  transform: translateY(8px);\
\}\
}